/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep

.env

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
.npm
.eslintcache
*.tgz
.yarn-integrity

/public/css/
/public/js/
/public/mix-manifest.json

bootstrap/cache/*
!bootstrap/cache/.gitkeep
/bin