
/* Шапка */
.header{
    padding: 40px 10px 20px 10px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}
.header__content{
    padding-bottom: 20px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}
.header__title{
    flex-grow: 10;
    font-family: 'Montserrat-Bold';
    color: #282b34;
    line-height: 30px;
    font-size: 28px;
}
.header__menu{
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch; 
}
.header__item{
    padding: 0 0 0 30px;
}
.header__item-name{
    color: #bcbcbc;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    line-height: 34px;
    display: inline-block;
    transform-origin: 10px 15px;
}
.header__item-name:hover{
    color: #323232;
}
